extends ./includes/layout
block main
    .container
      .row
        .col-md-12
          .headline
            .icon
              i.fa.fa-briefcase
            |           
            h1
              | Aerospace and business research
              br
              | Case Studies
            |           
            hr
    |  
    |   &#x9;
    .container
      .row
        - for(var x=0;x<=20;x++)
          .col-sm-6.col-md-4.col-lg-2
            .box
              h3.topic Factbase Offset
              |   &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque obcaecati dolores quis voluptatibus, expedita labore.
              |   &#x9;&#x9;&#x9;&#x9;&#x9;
              .readmore Read More