extends ./includes/layout
block main

    .container
      .row
        .col-md-12
          .jumbotron
            h1 Welcome to our Mini Web Application
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi deleniti facilis officiis voluptatibus, velit doloremque, est culpa similique veniam alias pariatur numquam beatae. Necessitatibus id, sit error nesciunt perferendis sunt.

      .row
        - for(var i=1;i<3;i++)
          .col-md-6
            .panel.panel-primary
              .panel-heading.text-center
                h3.panel-title Featured Courses 
              .panel-body
                each val in courseList
                  if val.featured
                    .row
                      .col-md-12
                        p=val.name

        - for(var i=1;i<3;i++)
          .col-md-6
            .panel.panel-primary
              .panel-heading.text-center
                h3.panel-title New Courses 
              .panel-body
                each val in courseList
                  .row
                    .col-md-3 Published: #{val.published}
                    .col-md-9 : #{val.name}
                            
